@import url("/styles/pallet5.css");
@import url("/styles/material-symbols.css");
@import url("/styles/bottom-navigation.css");
@import url("/styles/tab2.css");
@import url("/styles/tab3.css");
@import url("/styles/stats-card.css");

@font-face {
  font-family: 'ProductSans';
  src: url(/assets/ProductSans.ttf);
  font-display: swap;
}



@media (max-width: 600px) {
  

body {
  font-size: 14pt;
  font-family: 'ProductSans',sans-serif;
  font-weight: 400;
  background: var(--surface-1);
  color: var(--text-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 60px 0;
  transition: background .4s ease, color .4s ease;

}



header#main-header {
  width: 100vw;
  height: 45px;
  background: var(--P15);
  color: var(--P3);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background .4s;
  letter-spacing: 1px;
  z-index: 100;
}
#main-header > div {
  margin: 0 5px;
}
.logo {
  
  display: inline-block;
  /*
  background: var(--surface-1);
  height: 20px;
  width: 20px;*/
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo > span {
  color: inherit;
  font-size: 35pt;
  transition: color .4s;
  width: 45px;
}
#header-title {
  flex: 4;
  text-align: left;
  font-weight: bold;
  
}

#theme-wrapper {
  /* ./theme.css */
  flex: 1;
  color: inherit;
  width: 45px;
}


#tab1 {
  
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  animation: content .3s ease-in-out;
}
#tab1.active {
  display: flex;
}
/* Calendar */
.calendar {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;

  gap: 5px;
  background: var(--surface-2);
  border-radius: 20px;
  
  transition: background .4s;
}
.calendar:hover {
  background: var(--surface-3);
}
.calendar:hover .dayEl:not(.failed,.passed,.current-date) {
  background: var(--C4);
}
.cal-header {

  text-align: center;
  display: flex;
  gap: 2px;
  justify-content: space-evenly;
  margin: 15px 15px 0 15px;
}

.cal-header>div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
  transition: background .4s;
}

#prevBtn,
#nextBtn {
  
  font-size: 20pt;
  height: 35px;width: 40px;
  background: var(--C4);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-month {
  flex: 6;
  font-size: 14pt;
}

/*
#prevBtn {
  border-radius: 15px 5px 5px 15px;
}
#nextBtn {
  border-radius: 5px 15px 15px 5px;
}
*/
.days-container,
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, minmax(10px, 1fr));
  gap: 10px;
  position: relative;
}

.days-container {
  padding-top: 7px;
  margin: 0 15px 15px;
}
.weekdays {
  border-bottom: 2px solid var(--surface-3);
  margin: 0 15px;
  transition: border .4s;
}
/*
.calendar .days-container::before {
  content: "";
  height: 1px;
  background: var(--surface-3);
  width: 100%;
  position: absolute;
  top: 0;
  transition: background .4s;
}*/

.placeholderEl,
.dayEl,
.weekdays div {
  background: var(--C3);
  color: var(--text-2);
  display: grid;
  place-items: center;
  border-radius: 50px;
  padding: 2px;
  /*height: 20px;*/
  aspect-ratio: 1/1;
  font-size: 11pt;

  transition: background .4s, color .4s;
  
}
.dayEl {
  animation: pop .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.weekdays div {
  background: none;
  aspect-ratio: 2/1;
  font-size: 11pt;
  color: var(--text-2);

}

.placeholderEl {
  background: none;
  color: #A49D93;
  font-weight: normal;
}

.days-container>.dayEl:hover {
  /*outline: 1px solid #444;*/
  outline: 2px solid var(--C6);
}

.current-date {
  background: var(--today-col) ;
  color: var(--surface-1);
  font-weight: bold;
  outline: 0px dashed var(--C8);
  transition: border .4s, background .4s, color .4s;
}
.passed {
  background: var(--passed-col);
  color: #fff;
}

.failed {
  background: var(--failed-col);
  color: #fff;
}

.passed:hover {
  outline: 2px solid #13772A !important;
}
.failed:hover {
  outline: 2px solid #A00F0F !important;
}
.dark-theme .passed:hover {
  outline: 2px solid #54CE70 !important;
}
.dark-theme .failed:hover {
  outline: 2px solid #E15757 !important;
}

.current-date.failed {
  background: linear-gradient(to bottom right, var(--today-col) 60%, var(--failed-col) 40%);
}
.current-date.passed {
  background: linear-gradient(to bottom right, var(--today-col) 60%, var(--passed-col) 40%);
}
/* Calendar css end */


@keyframes pop {
  0% {
    transform: translateX(var(--anim));
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
/*
sunday 

.days-container > .dayEl:nth-child(7n+1) {
  color: #661E1E;
  font-weight: bold;
}
*/

/* see dashboard button */
#go_btn {
  width: 80%;
  height: 60px;
  margin-top: 10px;
  background: var(--C3);
  color: var(--C16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  transition: all .4s ease;
}

#go_btn div {
  margin: 0 15px;
}

#go_btn span {
  background: var(--C4);
  color: var(--C17);
  border-radius: 14px;
  padding: 6px 8px;
  margin: 0 15px;
  transition: all .4s ease;
}

#go_btn:hover {
  background: var(--C4);
}
#go_btn:hover span {
  background: var(--C5);
}


/* media query end */
}
@media (min-width: 600px) {
  
}