.bottom-navigation-wrapper {
  background: var(--C2);
  backdrop-filter: blur(15px);
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 /* border-top: 1px solid var(--C7);
  box-shadow: 0 0px 25px hsla(0, 0%, 0%, 0.4) ;*/
  transition: background 300ms;
}
.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-item label {
  font-size: 15px;
  color: var(--text-1);
  transition: all .4s ease;
}
.nav-item .material-symbols-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 5px 15px;*/
  height: 30px;
  width: 30px;
  border-radius: 20px;
  font-size: 28px;
  color: var(--C18);
  transition: all 300ms;
}
.nav-item:hover .material-symbols-rounded {
  background: hsla(0, 0%, 100%, 0.4);
  width: 60px;
  
}
.nav-item.active .material-symbols-rounded {
  background: var(--C4);
  width: 60px;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    
}