html {
  --hue: 290;
  --sat: 70%;

  --P100: hsl(var(--hue), var(--sat), 100%);
  --P95: hsl(var(--hue), var(--sat), 95%);
  --P90: hsl(var(--hue), var(--sat), 90%);
  --P85: hsl(var(--hue), var(--sat), 85%);
  --P80: hsl(var(--hue), var(--sat), 80%);
  --P75: hsl(var(--hue), var(--sat), 75%);
  --P70: hsl(var(--hue), var(--sat), 70%);
  --P65: hsl(var(--hue), var(--sat), 65%);
  --P60: hsl(var(--hue), var(--sat), 60%);
  --P55: hsl(var(--hue), var(--sat), 55%);
  --P50: hsl(var(--hue), var(--sat), 50%);
  --P45: hsl(var(--hue), var(--sat), 45%);
  --P40: hsl(var(--hue), var(--sat), 40%);
  --P35: hsl(var(--hue), var(--sat), 35%);
  --P30: hsl(var(--hue), var(--sat), 30%);
  --P25: hsl(var(--hue), var(--sat), 25%);
  --P20: hsl(var(--hue), var(--sat), 20%);
  --P15: hsl(var(--hue), var(--sat), 15%);
  --P10: hsl(var(--hue), var(--sat), 10%);
  --P5: hsl(var(--hue), var(--sat), 5%);
  --P0: hsl(var(--hue), var(--sat), 0%);

  --sat2: 20%;
  --S100: hsl(var(--hue), var(--sat2), 100%);
  --S95: hsl(var(--hue), var(--sat2), 95%);
  --S90: hsl(var(--hue), var(--sat2), 90%);
  --S85: hsl(var(--hue), var(--sat2), 85%);
  --S80: hsl(var(--hue), var(--sat2), 80%);
  --S75: hsl(var(--hue), var(--sat2), 75%);
  --S70: hsl(var(--hue), var(--sat2), 70%);
  --S65: hsl(var(--hue), var(--sat2), 65%);
  --S60: hsl(var(--hue), var(--sat2), 60%);
  --S55: hsl(var(--hue), var(--sat2), 55%);
  --S50: hsl(var(--hue), var(--sat2), 50%);
  --S45: hsl(var(--hue), var(--sat2), 45%);
  --S40: hsl(var(--hue), var(--sat2), 40%);
  --S35: hsl(var(--hue), var(--sat2), 35%);
  --S30: hsl(var(--hue), var(--sat2), 30%);
  --S25: hsl(var(--hue), var(--sat2), 25%);
  --S20: hsl(var(--hue), var(--sat2), 20%);
  --S15: hsl(var(--hue), var(--sat2), 15%);
  --S10: hsl(var(--hue), var(--sat2), 10%);
  --S5: hsl(var(--hue), var(--sat2), 5%);
  --S0: hsl(var(--hue), var(--sat2), 0%);

  --C0: var(--P0);
  --C5: var(--P5);
  --C10: var(--P10);
  --C15: var(--P15);
  --C20: var(--P20);
  --C25: var(--P25);
  --C30: var(--P30);
  --C35: var(--P35);
  --C40: var(--P40);
  --C45: var(--P45);
  --C50: var(--P50);
  --C55: var(--P55);
  --C60: var(--P60);
  --C65: var(--P65);
  --C70: var(--P70);
  --C75: var(--P75);
  --C80: var(--P80);
  --C85: var(--P85);
  --C90: var(--P90);
  --C95: var(--P95);
  --C100: var(--P100);

  --passed-col: #4cbb17;
  --failed-col: oklch(80% .3 20);
  --today-col: #3D85FE;
  --anim: 15px;
}

@media (prefers-color-scheme: dark) {
  html {
    --text-1: var(--P100);
    --text-2: var(--P95);
    --surface-1: var(--P5);
    --surface-2: var(--P10);
    --surface-3: var(--P15);


    --C5: var(--P100);
    --C10: var(--P95);
    --C15: var(--P90);
    --C20: var(--P85);
    --C25: var(--P80);
    --C30: var(--P75);
    --C35: var(--P70);
    --C40: var(--P65);
    --C45: var(--P60);
    --C50: var(--P55);
    --C55: var(--P50);
    --C60: var(--P45);
    --C65: var(--P40);
    --C70: var(--P35);
    --C75: var(--P30);
    --C80: var(--P25);
    --C85: var(--P20);
    --C90: var(--P15);
    --C95: var(--P10);
    --C100: var(--P5);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --text-1: var(--P5);
    --text-2: var(--P10);
    --surface-1: var(--P100);
    --surface-2: var(--P95);
    --surface-3: var(--P90);

    --C0: var(--P0);
    --C5: var(--P5);
    --C10: var(--P10);
    --C15: var(--P15);
    --C20: var(--P20);
    --C25: var(--P25);
    --C30: var(--P30);
    --C35: var(--P35);
    --C40: var(--P40);
    --C45: var(--P45);
    --C50: var(--P50);
    --C55: var(--P55);
    --C60: var(--P60);
    --C65: var(--P65);
    --C70: var(--P70);
    --C75: var(--P75);
    --C80: var(--P80);
    --C85: var(--P85);
    --C90: var(--P90);
    --C95: var(--P95);
    --C100: var(--P100);
  }
}

body.light-theme {
  --text-1: var(--P5);
  --text-2: var(--P10);
  --surface-1: var(--P100);
  --surface-2: var(--P95);
  --surface-3: var(--P90);


  --C0: var(--P0);
  --C5: var(--P5);
  --C10: var(--P10);
  --C15: var(--P15);
  --C20: var(--P20);
  --C25: var(--P25);
  --C30: var(--P30);
  --C35: var(--P35);
  --C40: var(--P40);
  --C45: var(--P45);
  --C50: var(--P50);
  --C55: var(--P55);
  --C60: var(--P60);
  --C65: var(--P65);
  --C70: var(--P70);
  --C75: var(--P75);
  --C80: var(--P80);
  --C85: var(--P85);
  --C90: var(--P90);
  --C95: var(--P95);
  --C100: var(--P100);
}

body.dark-theme {
  --text-1: var(--P100);
  --text-2: var(--P95);
  --surface-1: var(--P5);
  --surface-2: var(--P10);
  --surface-3: var(--P15);

  --C5: var(--P100);
  --C10: var(--P95);
  --C15: var(--P90);
  --C20: var(--P85);
  --C25: var(--P80);
  --C30: var(--P75);
  --C35: var(--P70);
  --C40: var(--P65);
  --C45: var(--P60);
  --C50: var(--P55);
  --C55: var(--P50);
  --C60: var(--P45);
  --C65: var(--P40);
  --C70: var(--P35);
  --C75: var(--P30);
  --C80: var(--P25);
  --C85: var(--P20);
  --C90: var(--P15);
  --C95: var(--P10);
  --C100: var(--P5);

  --passed-col: #2F7A11;
  --failed-col: oklch(45% .2 20);
  --today-col: #0073DD;
}