html {
  --hue: 290; 
  /* 320 magenta, 150 green, 250 cyan-blue, */
  --P1: lch(99 12 var(--hue));
  --P2: lch(95 20 var(--hue));
  --P3: lch(90 25 var(--hue));
  --P4: lch(85 30 var(--hue));
  --P5: lch(80 50 var(--hue));
  --P6: lch(75 55 var(--hue));
  --P7: lch(72 55 var(--hue));
  --P8: lch(70 60 var(--hue));
  --P9: lch(67 65 var(--hue));
  --P10: lch(67 75 var(--hue));
  --P11: lch(60 70 var(--hue));
  --P12: lch(55 65 var(--hue));
  --P13: lch(50 60 var(--hue));
  --P14: lch(45 50 var(--hue));
  --P15: lch(40 40 var(--hue));
  --P16: lch(35 30 var(--hue));
  --P17: lch(30 20 var(--hue));
  --P18: lch(25 10 var(--hue));
  --P19: lch(15 5 var(--hue));
  --P20: lch(7 2 var(--hue));

  --C1: var(--P1);
  --C2: var(--P2);
  --C3: var(--P3);
  --C4: var(--P4);
  --C5: var(--P5);
  --C6: var(--P6);
  --C7: var(--P7);
  --C8: var(--P8);
  --C9: var(--P9);
  --C10: var(--P10);
  --C11: var(--P11);
  --C12: var(--P12);
  --C13: var(--P13);
  --C14: var(--P14);
  --C15: var(--P15);
  --C16: var(--P16);
  --C17: var(--P17);
  --C18: var(--P18);
  --C19: var(--P19);
  --C20: var(--P20);
}

@media (prefers-color-scheme: dark) {
  html {
    --text-1: var(--P1);
    --text-2: var(--P2);
    --surface-1: var(--P20);
    --surface-2: var(--P19);
    --surface-3: var(--P18);
    
    --C1: var(--P20);
    --C2: var(--P19);
    --C3: var(--P18);
    --C4: var(--P17);
    --C5: var(--P16);
    --C6: var(--P15);
    --C7: var(--P14);
    --C8: var(--P13);
    --C9: var(--P12);
    --C10: var(--P11);
    --C11: var(--P10);
    --C12: var(--P9);
    --C13: var(--P8);
    --C14: var(--P7);
    --C15: var(--P6);
    --C16: var(--P5);
    --C17: var(--P4);
    --C18: var(--P3);
    --C19: var(--P2);
    --C20: var(--P1);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --text-1: var(--P20);
    --text-2: var(--P19);
    --surface-1: var(--P1);
    --surface-2: var(--P2);
    --surface-3: var(--P3);
    
    --C1: var(--P1);
    --C2: var(--P2);
    --C3: var(--P3);
    --C4: var(--P4);
    --C5: var(--P5);
    --C6: var(--P6);
    --C7: var(--P7);
    --C8: var(--P8);
    --C9: var(--P9);
    --C10: var(--P10);
    --C11: var(--P11);
    --C12: var(--P12);
    --C13: var(--P13);
    --C14: var(--P14);
    --C15: var(--P15);
    --C16: var(--P16);
    --C17: var(--P17);
    --C18: var(--P18);
    --C19: var(--P19);
    --C20: var(--P20);
  }
}

body.light-theme {
  --text-1: var(--P20);
  --text-2: var(--P19);
  --surface-1: var(--P1);
  --surface-2: var(--P2);
  --surface-3: var(--P3);
  
  --C1: var(--P1);
  --C2: var(--P2);
  --C3: var(--P3);
  --C4: var(--P4);
  --C5: var(--P5);
  --C6: var(--P6);
  --C7: var(--P7);
  --C8: var(--P8);
  --C9: var(--P9);
  --C10: var(--P10);
  --C11: var(--P11);
  --C12: var(--P12);
  --C13: var(--P13);
  --C14: var(--P14);
  --C15: var(--P15);
  --C16: var(--P16);
  --C17: var(--P17);
  --C18: var(--P18);
  --C19: var(--P19);
  --C20: var(--P20);
}

body.dark-theme {
  --text-1: var(--P1);
  --text-2: var(--P2);
  --surface-1: var(--P20);
  --surface-2: var(--P19);
  --surface-3: var(--P18);
  
  --C1: var(--P20);
  --C2: var(--P19);
  --C3: var(--P18);
  --C4: var(--P17);
  --C5: var(--P16);
  --C6: var(--P15);
  --C7: var(--P14);
  --C8: var(--P13);
  --C9: var(--P12);
  --C10: var(--P11);
  --C11: var(--P10);
  --C12: var(--P9);
  --C13: var(--P8);
  --C14: var(--P7);
  --C15: var(--P6);
  --C16: var(--P5);
  --C17: var(--P4);
  --C18: var(--P3);
  --C19: var(--P2);
  --C20: var(--P1);
}

